body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: #000;
    color: #fff;
    margin: 0;
    max-width: 100%;
    max-height: 100%;
    font-size: 12px;
}

h1 {
    color: #fff;
    margin-bottom: 20px;
}

#main-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

#button-container {
    display: flex;
    gap: 10px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

button {
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #FEAC00;
    color: #000;
    transition: background-color 0.3s, transform 0.3s;
    width: 150px;
    height: 150px;
}

button:hover {
    background-color: #FEAC00;
    transform: scale(1.05);
}

#order-list {
    background-color: #1a1a1a;
    padding: 20px;
    box-shadow: 0 0 rgba(0, 0, 0, 0.3);
    width: 35%;
    border-radius: 8px;
    flex-shrink: 0;
    padding-bottom: 10px;
}


#selected-products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    max-height: 300px;
    overflow-y: auto;
}

#selected-products li {
    list-style: none;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#selected-products li button {
    margin-left: 10px;
    background-color: #ff5757;
    padding: 5px;
    font-size: 12px;
    width: auto;
    height: 40px;
    border: 5px;
    cursor: pointer;
}

#selected-products li button:hover {
    background-color: #ff5757;
}

button#save-orders {
    background-color: #ff5757;
    color: #fff;
    width: auto;
    height: auto;
}

button#button-orders {
    background-color: aqua;
    width: auto;
    height: auto;
}

button#save-orders:hover {
    background-color: #ff5757;
}

input {
    width: 30%;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #555;
    background-color: #333;
    color: #fff;
}

#summary {
    margin-top: 20px;
    background-color: #1a1a1a;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    border-radius: 8px;
}

#sales-summary {
    list-style: none;
    padding: 0;
}

#sales-summary li {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

@media (min-width: 768px) {


    #main-container {
        display: inline-block;
        width: 100%;
    }
    #order-list {
        width: 100%;
        

    }

    #button-container {
        width: 100%;

    }

    .column {
        width: 100%;
        padding: 50px;
    }

    button#button-orders, button#save-orders {
        display: inline-block;
        width: 200px;
        height: 150px;


    
    }

    button {
        display: inline-block;
        width: 80%;
        height: 100px;
    }

    button:hover {
        background-color: #cffe00;
        transform: scale(1.05);
    }

}


@media (max-width: 768px) {


    #main-container {
        flex-direction: column;
        align-items: center;
    }

    #button-container {
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    button#button-orders {
        width: 100%;

    }

    button {
        width: 85px;
        height: 85px;
        font-size: 12px;
    }

    h3 {
        font-size: 18px;
    }

    .column {
        width: 25%;
    }

    button#button-orders, button#save-orders {
        display: inline-block;
        width: 85px;
        height: 85px;
        padding: 0px;
        margin: 0px;
        border: 0px;
        
    }

    #order-list {
        width: 100%;
        height: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        border: 0px;
        padding: 0px;
    }

}


